*{
    box-sizing: border-box;
    margin: 0;
}
:root {
    --blue: blue;
    --black: #000000;
    --white: #ffffff;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8rem;
    font-size: 1.5rem;
}


header div h1{
    text-shadow: 3px 3px var(--black);
    color: var(--white);
}

.title{
    display: flex;
    background-image: url("banner.jpeg");
    justify-content: space-around;
    align-items: center;
    height: 190px;
    width: 100%;
}

header nav{
    background-color: var(--blue);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 2rem;
}

header nav a{
    color: var(--white);
    text-decoration: none;
    font-size: x-large;
}

header nav a:hover {
    font-weight: bold;
}

main {
    font-size: 1.3rem;
    min-height: calc(100vh - 11rem);
    margin: 1.5rem;
}

/* Curso */

.curso {
    display: flex;
    justify-content: center;;
}

main div{
    margin-bottom: 1.5rem;
    text-align: justify;
}

main div h2{
    margin-bottom: 1.5rem;
}

.campo ol li{
    padding: 5px;
}

table, tr, th, thead, td{
    width: max-content;
    border: 2px solid var(--black);
    border-collapse: collapse;
    padding:0.5rem;
    margin: auto;
    justify-content: center;
}

td{
    text-align: center;
}

.materia {
    text-align: left;
}

/* FAQ */

#topo div.pergunta, p.resposta{
    min-height: 100vh;
    color: #000000;
}

div.pergunta a, p.resposta a{
    color: var(--black);
    text-decoration: none;
}

div.pergunta a{
    border: 2rem;
}

div.pergunta li{
    padding: 0.5rem 0;
}


p.resposta{
    display: grid;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}
/* Footer */

footer{
    height: 3rem;
    background-color: var(--blue);
    color: #ffffff;
}

.copy{
    font-size: 2rem;
}